  <nav>

    <input type="checkbox" id=check>

    <div class="background"></div>

    <label for="check" class="checkbtn">
      <i class="fas fa-bars"><img src="assets/icon-menu.svg"></i>
    </label>




      <label class="logo"><img src="assets/logo.svg"></label>
      <ul>
        <li><a class="active" href="#"> Collections</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Womem</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    <div class="avatar">
      <img src="../assets/icon-cart.svg">
      <img src="assets/image-avatar.png">
    </div>

  </nav>


    <div class="content-contanier">


      <div class="container-fotos">

        <div class="horizontal-section">
          <img  [src]="actualImage" id="previzualizarImg">
          <section><img src="assets/image-product-1.jpg"></section>
          <section><img src="assets/image-product-2.jpg"></section>
          <section><img src="assets/image-product-3.jpg"></section>
          <section><img src="assets/image-product-4.jpg"></section>
        </div>

        <div class="container-fotos-thumbnail">

          <div class="thumbnail"
                (mouseenter)="actualImage = 'assets/image-product-2.jpg'"
                  (mouseout)="actualImage = 'assets/image-product-1.jpg'"><img src="assets/image-product-2-thumbnail.jpg" >
          </div>

          <div class="thumbnail"
               (mouseenter)="actualImage = 'assets/image-product-3.jpg'"
                (mouseout)="actualImage = 'assets/image-product-1.jpg'"><img src="assets/image-product-3-thumbnail.jpg" >
          </div>

          <div class="thumbnail"
               (mouseenter)="actualImage = 'assets/image-product-4.jpg'"
                (mouseout)="actualImage = 'assets/image-product-1.jpg'"><img src="assets/image-product-4-thumbnail.jpg" >
          </div>

          <div class="thumbnail"
               (mouseenter)="actualImage = 'assets/image-product-1.jpg'"
                (mouseout)="actualImage = 'assets/image-product-1.jpg'"><img src="assets/image-product-1-thumbnail.jpg" >
          </div>

        </div>

      </div>

      <div class="texto">
        <div class="description">

          <p>SNEAKER COMPANY</p>

          <h1>Fall Limited Edition<br>Sneakers</h1>

          <p>These low-profile sneaker are your perfect<br>casual wear companion. Featuring a durable<br>rubber outer sole, they'll withstand everything<br>the weather can offer</p>

        </div>

        <div class="preco">


          <div class="container-preco">

            <h2>$125.00</h2>

              <div class="desconto">
                <p>50%</p>
              </div>

          </div>

          <p id="preco-original">$250.00</p>

        </div>

        <div class="contEbtn">
          <div class="contador">

            <button class="tirar"
            (click)="contadorMenos()">
              <img src="assets/icon-minus.svg">
            </button>

            <p>{{ verifica() || '0' }}</p>

            <button class="adicionar"
            (click)="contadorMais()">
              <img src="assets/icon-plus.svg">
            </button>

          </div>

          <button class="carbutton">
            <img src="../assets/icon-cart2.svg">
            <p>Add to cart</p>
          </button>
        </div>

      </div>

    </div>
